
.body-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.input-container {
    padding: 35px;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
    box-shadow: #000 1px 1px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
}


.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: rgb(0, 166, 255);
    margin: 10px;
    border-radius: 10px;
}

.btn :hover {
    cursor: pointer;
    box-shadow: #000 1px 1px 5px;
}

#outputType {
    padding: 10px;
    background-color: rgb(0, 166, 255);
    border: none;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  }
.output-type-selector {
    text-align: right;
}
  
.button-wrap {
    display: flex;
    justify-content: center;
}

.output-container {
    padding: 35px;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
    box-shadow: #000 1px 1px 5px;
    margin: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;   
}